/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body general */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 50px;  /* espacio para el header */
}

/* Estilo de la cabecera */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

header .logo h2 {
    margin: 0;
    font-size: 2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #4CAF50; /* color al pasar el mouse */
}

/* Estilo de las secciones */
section {
    padding: 80px 20px; /* espaciado para evitar que se superponga con el header */
    margin-bottom: 40px;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilo de los botones */
.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

/* Estilo para los proyectos */
.proyecto-item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.proyecto-item:hover {
    transform: scale(1.05);
}

.proyecto-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.proyecto-item p {
    color: #666;
}

/* Estilo para las imágenes de los proyectos */
.proyecto-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Estilo de los formularios */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Estilo de las secciones de contacto y demás */
.contacto, .proyectos, .sobre-mi {
    max-width: 1200px;
    margin: 0 auto;
}


